dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.vscode/tasks.json
.ionide/symbolCache.db
.metals/metals.h2.db
.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json

.fake
.ionide